# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Backend (Laravel)
Backend/vendor/
Backend/node_modules/
Backend/.env
Backend/.env.backup
Backend/.env.production
Backend/storage/*.key
Backend/public/build/
Backend/public/hot
Backend/public/storage
Backend/.phpunit.cache/
Backend/.phpunit.result.cache

# Flutter
Flutter_app/.dart_tool/
Flutter_app/.flutter-plugins-dependencies
Flutter_app/.pub-cache/
Flutter_app/.pub/
Flutter_app/build/
Flutter_app/coverage/
Flutter_app/.flutter-plugins
Flutter_app/android/app/debug
Flutter_app/android/app/profile
Flutter_app/android/app/release
Flutter_app/android/local.properties
